* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand-colors-explorer-dark: hsl(195, 91%, 25%);
}

html, body, input {
  font-family: 'Mulish', sans-serif;
}

#app {
  max-width: 43rem;

  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;
  
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

/* header  */
header, footer {
  background-color: var(--brand-colors-explorer-dark);

  height: 7.2rem;
  width: 100%;
}

header {
  padding: 1.2rem 2.8rem;
}

header, nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  font-weight: 700;
}

header form {
  flex: 1;
}

.logo-container {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  
  justify-content: center;
  align-items: center;
  display: flex;

  border-radius: 50%;

  background-color: white;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  height: 4rem;
  width: 100%;
  padding: 1.2rem;

  border: 0;
  border-radius: .4rem;

  font-size: 1.6rem;

  background: rgba(255, 255, 255, 0.2);
}

.input-wrapper input::placeholder {
  color: white;
}

.avatar {
  width: 4rem;
  height: 4rem;
  object-fit: cover;

  border-radius: 50%;
}

/* main */
.cat-photo {
  width: 100%;
  height: 24rem;
  border-radius: 0;
}

main .title-container {
  width: 34.2rem;
  height: 8.6rem;

  margin: 3.1rem 6.6rem 3.1rem 2.2rem;
}

main .title-container .main-title {
  font-size: 2.4rem;

  margin-bottom: .8rem;
}

main .title-container button {
  width: 4rem;
  height: 4rem;
  object-fit: cover;

  justify-content: center;
  align-items: center;

  border: none;  
  border-radius: 50%;

  background-color: var(--brand-colors-explorer-dark);
}

main .text-container {
  margin: 0 2.2rem 3.4rem;

  font-size: 1.6rem;
}

main .text-container .main-text:nth-last-child(-n+2) {
  margin-top: 20px; 
}